@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--main-font-color);
}

body{
    font-family: monospace;
    line-height: 1.5em;
    background-color: var(--body-bg);
    color: var(--main-font-color);
}

input {
    outline: none;
    font-family: monospace, serif;
}

main{
    width: 560px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main img#cat {
    max-height: 400px;
    margin-top: 2em;
    cursor: pointer;
}

main img#cat:hover{
    opacity: 60%;
}

main img#cat.home {
    margin-top: 7em!important;
}

.box {
    padding: 15px;
    background-color: var(--box-bg);
    border: 2px solid var(--box-bg-border);
    border-radius: 2px;
    font-size: 14px;
    text-align: justify;
}

.title {
     text-align: center;
     font-weight: bold;
 }

main article, nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    opacity: .6;
    transition: var(--transition);
}

nav ul li:hover, nav ul li.highlight {
    opacity: 1;
}

div.contact-grid {
    display: grid;
    grid-gap: 10px;
    text-align: center;
}

div.contact-grid a {
    width: 100%;
    padding: 10px;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

div.contact-grid a:hover {
    background-color: var(--box-bg);
}

div.interests-grid {
    display: grid;
    grid-gap: 15px;
}



div.index-grid {
    display: grid;
    grid-gap: 15px;
}

div.index-grid_entry {
    display: grid;
    grid-gap: 10px;
}

div.index-grid_entry a {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

div.index-grid a:hover {
    background-color: var(--box-bg);
}

div.blog-grid {
    display: grid;
    grid-gap: 15px;
}

div.blog-grid .title {
    margin-top: .7em; /* Eye thing */
}

div.blog-grid img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
}

div.top {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 3px 9px 6px;
    background-color: #333333;
    border-radius: 2px;
    border: 2px solid #464646;
    z-index: 2;
    font-size: 20px;
    transition: var(--transition);
}

div.top:hover {
    filter: brightness(1.1);
}

form.login {
    margin-top: 4px; /* Eye thing */
    display: grid;
    grid-gap: 15px;
    justify-items: center;
}

form.login input[type=text], form.login input[type=password] {
    width: 80%;
    padding: 10px;
    text-align: left;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

form.login input[type=submit] {
    padding: 10px 60px;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
    cursor: pointer;
}

form.login input[type=submit]:hover {
    background-color: var(--box-bg);
}

@media (max-width: 560px) {
    body {
        padding: 0 15px;
    }
    main {
        width: 100%!important;
        height: 100%!important;
    }
}