* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--main-font-color);
}

body{
    font-family: monospace;
    background-color: var(--body-bg);
    color: var(--main-font-color);
    height: 100%;
}

input {
    outline: none;
    font-family: monospace, serif;
    font-size: 14px;
}

textarea {
    padding: 10px 15px;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    width: 100%;
    min-height: 150px;
    resize: vertical;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    line-height: inherit;
}

.center-text {
    text-align: center;
}

div#web-container {
    width: 560px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div#web-container a figure#cat {
    margin-top: 2em;
    cursor: pointer;
}

div#web-container a figure#cat img {
    height: 343px;
    width: 262px;
}

div#web-container figure#cat:hover{
    opacity: 60%;
}

div#web-container figure#cat.home {
    margin-top: 7em!important;
}

div#web-container a h1 {
    margin-top: .5em;
    font-size: 150px;
}

div#web-container a h1.home {
    margin-top: 1em!important;
}

div#web-container a h1:hover {
    opacity: .6;
}

div#web-container main, nav {
    width: 100%;
    line-height: 1.5em;
}

div.elements {
    position: absolute;
    padding: 15px 25px 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

div.elements a {
    transition: var(--transition);
}

div.elements a.no-session {
    color: var(--body-bg);
}

div.elements a.no-session:hover {
    color: var(--main-font-color);
}

div.elements a:hover {
    color: var(--red);
}

.box {
    padding: 15px;
    background-color: var(--box-bg);
    border: 2px solid var(--box-bg-border);
    border-radius: 2px;
    font-size: 14px;
    text-align: justify;
}

.title {
     text-align: center;
     font-weight: bold;
 }

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    opacity: .6;
    transition: var(--transition);
}

nav ul li:hover, nav ul li.highlight {
    opacity: 1;
}

section.contact-grid {
    display: grid;
    grid-gap: 10px;
    text-align: center;
}

section.contact-grid a {
    width: 100%;
    padding: 10px;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

section.contact-grid a:hover {
    background-color: var(--box-bg);
}

section.interests-grid {
    display: grid;
    grid-gap: 15px;
}

section.index-grid {
    display: grid;
    grid-gap: 15px;
}

div.index-grid_entry {
    display: grid;
    grid-gap: 10px;
}

div.index-grid_entry a {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

div.index-grid_entry a:hover {
    background-color: var(--box-bg);
}

.blog-grid {
    display: grid;
    grid-gap: 15px;
    justify-items: center;
}

section.blog-grid .title {
    margin-top: .4em; /* Eye thing */
}

section.blog-grid img {
    max-width: 100%;
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
}

div.top {
    position: fixed;
    left: 25px;
    bottom: 15px;
    padding: 2px 20px 6px;
    background-color: #333333;
    border-radius: 2px;
    border: 2px solid #464646;
    z-index: 166;
    font-size: 20px;
    transition: var(--transition);
}

div.top:hover {
    filter: brightness(1.25);
}

form.simple {
    margin-top: 4px; /* Eye thing */
    display: grid;
    grid-gap: 15px;
    justify-items: center;
}

form.simple input[type=text], form.simple input[type=password], form.simple input[type=email] {
    width: 80%;
    padding: 10px;
    text-align: left;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

input[type=submit] {
    padding: 10px 60px;
    background-color: var(--body-bg);
    border-radius: 2px;
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--box-bg);
}

form.simple input:focus-within, textarea:focus-within {
    border: 2px solid var(--purple-archived);
}

form.simple p.error {
    color: var(--red);
}

section.error-page a {
    transition: var(--transition);
    opacity: .6;
}

section.error-page a:hover {
    opacity: 1;
}

form.aboutEdit {
    margin-top: var(--gap);
    display: grid;
    grid-gap: var(--gap);
    justify-items: center;
}

form.aboutEdit textarea {
    transition: border var(--transition);
}

@media (max-width: 560px) {
    body {
        padding: 0 15px;
    }
    div#web-container {
        width: 100%!important;
        height: 100%!important;
    }
    div.top {
        box-shadow: 0 0 10px rgba(0,0,0,.25);
    }
}