@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--main-font-color);
}

body{
    font-family: monospace;
    line-height: 1.5em;
    background-color: var(--body-bg);
    color: var(--main-font-color);
}

main{
    width: 560px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main img#cat {
    max-height: 400px;
    margin-top: 4em;
    cursor: pointer;
}

main img#cat:hover{
    opacity: 60%;
}

main img#cat.home {
    margin-top: 7em!important;
}

.box {
    padding: 15px;
    background-color: var(--box-bg);
    border: 2px solid var(--box-bg-border);
    border-radius: 2px;
    font-size: 14px;
    text-align: justify;
}

main article, nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    opacity: .7;
    transition: var(--transition);
}

nav ul li:hover, nav ul li.highlight {
    opacity: 1;
}

div.contact-grid {
    display: grid;
    grid-gap: 10px;
    text-align: center;
}

div.contact-grid a {
    width: 100%;
    padding: 10px;
    background-color: var(--body-bg);
    border-radius: var(--border-radius);
    border: 2px solid var(--box-bg-border);
    transition: var(--transition);
}

div.contact-grid a:hover {
    background-color: var(--box-bg);
}