:root {
    --body-bg: #191919;
    --main-font-color: #f1f1f1;
    --box-bg: #333333;
    --box-bg-border: rgb(70, 70, 70);
    --purple-archived: #b6bae5;
    --bold: 600;
    --gap: 8px;
    --transition: .15s;

    --blue: #3A73F3;
    --purple: #633dc4;
    --red: #f33a3a;
    --orange: rgb(249, 76, 87);
}